@{
    ViewData["Title"] = "Erişim Engellendi";
    Layout = "~/Views/Shared/UserLayout.cshtml"; 
}

<div class="container mt-5">
    <div class="alert alert-warning text-center">
        <h2 class="alert-heading">Erişim Engellendi</h2>
        <p>
            Bu sayfaya erişim yetkiniz yok.<br />
            Eğer bir hata olduğunu düşünüyorsanız, lütfen yöneticiyle iletişime geçin.
        </p>
        <a href="/" class="btn btn-primary mt-3">Ana Sayfa</a>
     </div>
</div>